version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ENVIRONMENT: local
    container_name: carmarket_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./env/local.env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: carmarket_db
    environment:
      POSTGRES_DB: carmarket
      POSTGRES_USER: caruser
      POSTGRES_PASSWORD: carpass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
